body {
  background-image: radial-gradient(circle farthest-side, #ffffff, #f3d6c5);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  
}

@keyframes animated-border {
  0% {
    box-shadow: 0 0 0 0 rgba(77, 53, 2, 0.4);
  }
  100% {
     box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logo {
  opacity: .6;
  height: 100px;
  border-radius: 10px;
}

/* Both login and signup forms*/
.form {
  border-radius: 10px;
  background-color: rgb(255, 255, 255)!important;
  border: solid 2px rgb(241, 214, 214);
  animation: animated-border 2.5s infinite;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 40%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 60px;
}

.form-div {
  padding-top: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}

/* Buttons on forms*/

.button {
  background-color: white !important;
  color: black !important;
  font-family: 'IBM Plex Mono';
  font-weight: 700 !important;
  text-transform: uppercase;

  padding: 12px 18px;

  border-radius: 4px;
  border: solid 2px #121212;
  box-shadow: 4px 4px #121212;
  transition: transform 50ms, box-shadow 50ms;
}

.button:hover {
  transform: translate(2px, 2px);
  box-shadow: 2px 2px #121212;
}

/* Playground */
.pg-main {
  display: flex;
  flex-direction: column;
}

.pg-input {
  height: 100px;
  width: 400px;
  margin: auto;

}

.generate-btn {
  width: 30%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.nft-image{
  width: 300px;
  margin-top: 20px;

}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

/* Carousel */

.carousel-parent {
  display: flex;

}

.carousel {
  width: 50%;
  height: 50%;
  position: relative;

}

.tiles {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  object-fit: cover;
  cursor: pointer;
  z-index: 0;
  opacity: 0;
  transition: 800ms;
}

.tile-highlight {
  fill-opacity: 1;
  transform: scale(1);
  z-index: 99;
  width: 100px;
  height: 100px;
  transition: 1000ms;
  border-radius: 15px;
  zoom: 150%;
  margin: auto;
}

.tile-left {
  transform: translateX(-125%) scale(0.4);
  transition: 800ms;
  opacity: 0.3;
  width: 120px;
  height: 120px;
  border-radius: 10px;
  margin: auto;
}

.tile-far-left {
  transform: translateX(-130%) scale(0.8);
  transition: 800ms;
  opacity: 0.3;
  width: 120px;
  height: 120px;
  border-radius: 10px;
  margin: auto;
}

.tile-right {
  transform: translateX(125%) scale(0.4);
  transition: 800ms;
  opacity: 0.3;
  width: 120px;
  height: 120px;
  border-radius: 10px;
  margin: auto;

}
.tile-far-right {
  transform: translateX(130%) scale(0.8);
  transition: 800ms;
  opacity: 0.3;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin: auto;
}


.welcome-div {
  display: flex;
}

.welcome {
  text-align: end;
}

/* Collection */

.collection-btn{
  display: inline-block;
  width: 150px;
  height: 70px;

  background-color: white !important;
  color: black !important;
  font-family: 'IBM Plex Mono';
  font-weight: 700 !important;
  text-transform: uppercase;

  padding: 12px 18px;

  border-radius: 4px;
  border: solid 2px #121212;
  box-shadow: 4px 4px #121212;
  transition: transform 50ms, box-shadow 50ms;
}

.collection-btn:hover {
  transform: translate(2px, 2px);
  box-shadow: 2px 2px #121212;
}

.collection-btn-div {
  display: inline-flex;
}

.collection-name {
  float: left;
}

.collection-name-div {
  display: inline-block;
  float: left;
}

.nft-tiles {
  border-radius: 6px;
}
.card {
  margin-bottom: 20px;
  margin-top: 20px;
}

.row {
  padding-top: 5%;
  margin-top: 70px;
  margin-bottom: 50px;
  border-bottom: solid 2px white;
  box-shadow: .1px .3px #ee5c5c;
  /* border-bottom: solid 2px black; */
  width: 100%;
}

/* Nav */



.nav {
  /* display: flex; */
  width: 100%;
}

.nav-parent {
  /* position: fixed; */
  margin-bottom: 50px;
}


.footer {
  position: fixed;
}

/* Slider */

.slider-div {
  display:flex;
  margin-left: 25px;
  margin-right: 25px;
  padding-top: 2%;
}

.slider-image {
  width: 20%;
  height: 20%;
  border-radius: 10px;
  /* position: relative; */
  opacity: .6;
  
}

/* .slider-image {
  width: 100%;
  height: 90vh;
  position: relative;
  overflow: hidden;
} */

.slide {
  /* position: absolute; */
  top: 10rem;
  bottom: 15rem;
  left: 0;
  width: 20%;
  /* height: 60%; */
  opacity: 0;
  transform: translateX(-300%);
  transition: all 3s ease;
  margin: 30px auto;
  padding-bottom: 3%;
}

@media screen and (min-width: 100px) {
  .slide img {
    width: 100%;
    height: 100%;
  }
}

.current {
  opacity: 1;
  transform: translateX(0);
}

/* .content {
  position: absolute;
  top: 20rem;
  left: 35rem;
  opacity: 0;
  width: 90%;
  color: #fff;
  padding: 2rem;
  background: rgba(0, 0, 0, 0.3);
  animation: slide-up 3s ease 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  visibility: hidden;
} */

@keyframes slide-up {
  0% {
    visibility: visible;
    top: 10rem;
  }
  100% {
    visibility: visible;
    top: 20rem;
  }
}

@media screen and (max-width: 600px) {
  .content {
    width: 80%;
  }
}

/*for smoother transition between images*/
.content > * {
  /* color: #fff; */
  margin-bottom: 1rem;
}

.current .content {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.5s ease;
}

.arrow {
  border: 2px solid white;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  position: absolute;
  z-index: 999;
}
.arrow:hover {
  background-color: #fff;
  color: #777;
}

.next {
  top: 55%;
  right: 1.5rem;
}
.prev {
  top: 55%;
  left: 1.5rem;
}

hr {
  height: 2px;
  background: white;
  width: 50%;
}

/* Review Form */

.review-form {
  width: 40%;
  margin: auto;
}



/* Purgatory */

.purgatory-div {
  display: inline-block;
  flex-direction: column;
  margin-bottom: 100px;
  background-color: white;
  border: solid 2px #ee5c5c;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.p {
  flex-direction: column;
}

.p-slider-image {
  width: 30%;
  height: 90vh;
  position: relative;
  /* overflow: hidden; */
  border-radius: 10px;
  opacity: .6;
}

.p-slide {
  /* position: absolute; */
  top: 10rem;
  bottom: 15rem;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateX(-50%);
  transition: all 0.5s ease;
  margin: auto;
  padding-bottom: 1%;
}

@media screen and (min-width: 600px) {
  .slide img {
    width: 100%;
    height: 100%;
  }
}

.p-slide img {
  /* width: 100%; */
  height: 100%;
}

.current {
  opacity: 1;
  transform: translateX(0);
}

/*for upward sliding content*/
.p-content {
  position: absolute;
  top: 23rem;
  left: 5rem;
  opacity: 0;
  width: 30%;
  color: #fff;
  padding: 3rem;
  background: rgba(0, 0, 0, 0.3);
  animation: slide-up 3s ease 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  visibility: hidden;
}

@keyframes slide-up {
  0% {
    visibility: visible;
    top: 23rem;
  }
  100% {
    visibility: visible;
    /*for upward sliding content*/
    top: 8rem;
  }
}

@media screen and (max-width: 600px) {
  .p-content {
    width: 80%;
  }
}

/*for smoother transition between images*/
.p-content > * {
  color: #fff;
  margin-bottom: 1rem;
}

.current .p-content {
  opacity: 1;
  transform: translateX(0);
  transition: all 5s ease;
}

.p-arrow {
  border: 2px solid white;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  position: absolute;
  z-index: 999;
}
.p-arrow:hover {
  background-color: #fff;
  color: #777;
}

.next {
  top: 35%;
  right: 1.5rem;
}
.prev {
  top: 35%;
  left: 1.5rem;
}

hr {
  height: 2px;
  background: white;
  width: 50%;
}


/* Collection Table */
.table-parent {
  display: flex;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 70%;
    margin: auto;
    border: solid 2px white;
    padding-bottom: 15%;
  }
  
  table  td, table  th {
    border: 1px solid rgb(255, 255, 255);
    padding: 15px ;
  }
  
  table  tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  table  th, tfoot td {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #f85c5c;
    color: white;
  }
  
  .table-btn-div {
    display: inline-block;
    padding-bottom: 3%;
  }

/* Review List */

.reviewlist-div{
  background-color: white;
  overflow-x: hidden;
  overflow-y: scroll;
  display: inline-block;
  scroll-behavior: auto;
  scroll-behavior: smooth;
  border: solid 2px white;
  flex-direction: column;
  height: 70vh;
  width: 100%;
  
}

.entire-review-div {
  margin-right: 250px;
}

.review-tile {
  margin: auto;
}

/* Star review */

.star {
  transition: color 200ms;
  cursor: pointer;
}

input[type='radio'] {
  display: none;
}