body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

@keyframes animated-border {
  0% {
    box-shadow: 0 0 0 0 rgba(77, 53, 2, 0.4);
  }
  100% {
     box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Both login and signup forms*/
.form {
  margin-top: 100px;
  border-radius: 20px;
  border: solid 2px yellow;
  animation: animated-border 1.5s infinite;
  display:flex;
  align-items: center;
  flex-direction: row;
  width: 40%;
}

.form-div {
  padding-top: 100px;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

/* Buttons on forms*/

.button {
  background-color: white !important;
  color: black !important;
  font-family: 'IBM Plex Mono';
  font-weight: 700 !important;
  text-transform: uppercase;

  padding: 12px 18px;

  border-radius: 4px;
  border: solid 2px #121212;
  box-shadow: 4px 4px #121212;
  transition: transform 50ms, box-shadow 50ms;
}

.button:hover {
  transform: translate(2px, 2px);
  box-shadow: 2px 2px #121212;
}

/* Playground */
.pg-main {
  display: flex;
  flex-direction: column;
}

.pg-input {
  height: 100px;
  width: 400px;
  margin: auto;

}

.generate-btn {
  width: 30%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.nft-image{
  width: 300px;
  margin-top: 20px;

}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

/* Carousel */

.carousel-parent {
  display: flex;
  
}

.carousel {
  width: 50%;
  height: 50%;
  position: relative;
  
}

.tiles {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  object-fit: cover;
  cursor: pointer;
  z-index: 0;
  opacity: 0;
  transition: 800ms;
}

.tile-highlight {
  fill-opacity: 1;
  transform: scale(1);
  z-index: 99;
  width: 100px;
  height: 100px;
  transition: 1000ms;
  border-radius: 15px;
  zoom: 150%;
  margin: auto;
}

.tile-left {
  transform: translateX(-125%) scale(0.4);
  transition: 800ms;
  opacity: 0.3;
  width: 120px;
  height: 120px;
  border-radius: 10px;
  margin: auto;
}

.tile-far-left {
  transform: translateX(-130%) scale(0.8);
  transition: 800ms;
  opacity: 0.3;
  width: 120px;
  height: 120px;
  border-radius: 10px;
  margin: auto;
}

.tile-right {
  transform: translateX(125%) scale(0.4);
  transition: 800ms;
  opacity: 0.3;
  width: 120px;
  height: 120px;
  border-radius: 10px;
  margin: auto;
  
}
.tile-far-right {
  transform: translateX(130%) scale(0.8);
  transition: 800ms;
  opacity: 0.3;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin: auto;
}


.welcome-div {
  display: flex;
}

.welcome {
  text-align: end;
}

/* Cards */

.card{
  border-radius: 100px;
}